<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- Definir los targets donde se almacenarán los logs -->
	<targets>
		<!-- Registrar logs en un archivo -->
		<target xsi:type="File" name="logfile" fileName="logs/logfile.txt"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=toString,Data:maxInnerExceptionLevel=10}" />
		<!-- Registrar logs en la consola -->
		<target xsi:type="Console" name="logconsole"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=toString,Data:maxInnerExceptionLevel=10}" />
	</targets>

	<!-- Definir las reglas de logging -->
	<rules>
		<!-- Registrar todos los niveles de log desde Info en adelante en ambos targets -->
		<logger name="*" minlevel="Info" writeTo="logfile,logconsole" />
	</rules>
</nlog>
